<div class="calculator-header">
  <h1>Extremely Premature Infant Survival Calculator</h1>
  <app-calculator-result-row [value]="survival" label="Survival" [valueText]="survival | percent : '0.0'"
                             [showProgressBar]="false"></app-calculator-result-row>
</div>

<div fxLayout="column" fxLayout.gt-md="row">
  <div fxFlex.gt-md="50" class="calculator-area">
    <h3>Clinical Parameters:</h3>
    <mat-list>
      <mat-list-item>
        <h4>Delivery Route:</h4>
        <span fxFlex></span>
        <mat-button-toggle-group [(ngModel)]="deliveryVaginal" appearance="legacy" name="delivery route" class="mat-primary"
                                 aria-label="Delivery Route">
          <mat-button-toggle [value]="true">Vaginal</mat-button-toggle>
          <mat-button-toggle [value]="false">Cesarean</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-list-item>
      <mat-list-item>
        <h4>Presentation:</h4>
        <span fxFlex></span>
        <mat-button-toggle-group [(ngModel)]="presentationVertex" appearance="legacy" name="presentation" class="mat-primary"
                                 aria-label="Delivery Route">
          <mat-button-toggle [value]="true">Vertex</mat-button-toggle>
          <mat-button-toggle [value]="false">Breech</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-list-item>
      <mat-list-item>
        <h4>Received Anenatal Cortecosteroids:</h4>
        <span fxFlex></span>
        <mat-button-toggle-group [(ngModel)]="corticosteroids" appearance="legacy" name="cdhLaterality" class="mat-primary"
                                 aria-label="Antenatal Corticosteroids">
          <mat-button-toggle [value]="true">Some</mat-button-toggle>
          <mat-button-toggle [value]="false">None</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-list-item>
      <mat-list-item>
        <h4>Sex</h4>
        <span fxFlex></span>
        <mat-button-toggle-group [(ngModel)]="sexMale" appearance="legacy" name="sex" class="mat-primary"
                                 aria-label="Sex">
          <mat-button-toggle [value]="true">Male</mat-button-toggle>
          <mat-button-toggle [value]="false">Female</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-list-item>
      <mat-list-item>
        <h4>Weight</h4>
        <span fxFlex></span>
        <mat-form-field floatLabel="never">
          <mat-label>Weight (g)</mat-label>
          <input matInput id="wt_input" [(ngModel)]="weight" type="number" min="200" max="1500">
          <span matSuffix>g</span>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <h4>Gestation</h4>
        <span fxFlex></span>
        <mat-button-toggle-group [(ngModel)]="gestation" appearance="legacy" name="gestation" class="mat-primary"
                                 aria-label="Gestation">
          <mat-button-toggle [value]="true">Singleton</mat-button-toggle>
          <mat-button-toggle [value]="false">Multiple</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-list-item>
      <mat-list-item>
        <h4>Gestational Age</h4>
        <span fxFlex></span>
        <mat-form-field floatLabel="never">
          <mat-label>GA (pma)</mat-label>
          <input matInput [(ngModel)]="pma" type="number">
          <span matSuffix>wks</span>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="calculator-area" fxFlex.gt-md="50">
    <h3>Clinical Note Template:</h3>

    <app-mock-text-area>
      <ng-container *ngIf="errorCheck()">
<!--        <p>Based on <span [innerHTML]="getRiskFactorsWording()"></span>: <strong>The predicted probability of survival-->
<!--          for-->
<!--          a newborn based on these prognostic indicators is {{survival | percent : '1.0-1'}}.</strong>-->
<!--        <p><strong>The predicted probability of requiring extracorporeal membrane oxygenation for a newborn based on-->
<!--          these-->
<!--          prognostic indicators is {{ecmo | percent : '1.0-1'}}.</strong>-->
      </ng-container>

      <p *ngIf="!errorCheck()">All fields must have a selection for calculation</p>

      <!--        <p class="reference">Reference:-->
      <!--          <app-article-citation [ref]="citations[0]"></app-article-citation>-->
      <!--        </p>-->
      <p class="note-link">Calculator at <a href="{{url}}">{{url}}</a></p>
    </app-mock-text-area>
  </div>
</div>



