mat-slider {
  width: 100%;
}

.mock-textarea {
  background-color: #ffffff;
  border: 1px solid gray;
  overflow-x: auto;
  overflow-y: auto;
  padding: 8px;
  resize: both;
}

.button-group-label {
  display: block;
  font-weight: bold;
  padding-top: 15px;
}

.calculator-section {
  align-items: center;
}

.calculator-section > div {
  padding: 16px;
}

.bishop-table {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.reference {
  font-size: small;
}

.table-calc-total {
  border-top: 1pt solid black;
}
