.calculator-result-row {
  align-items: center;
  /* margin: 16px; */
}

.calculator-result-row h3 {
  font-size: 1.4em;
  margin: 0;
  font-weight: 400;
}

.calculator-result {
  background-color: white;
  border: 1px solid black;
  color: #2A2A2A;
  font-family: "Inconsolata", monospace;
  font-size: xx-large;
  text-align: right;
  margin: 6px 0;
  padding: 3px 12px;
  min-width: 150px;
}
