//@import '~@angular/material/theming';
@import 'src/uc.theme';

.calculator-header {
  background-color: mat-color($uc-theme-accent);
  //color: mat-color($white-87-opacity);
  // color: mat-color($uc-theme-accent, default-contrast);
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  // padding: 1px;
}

.calculator-header h1 {
  margin: 16px;
  font-size: 1.7em;
}

.sticky {
  position: fixed;
  top: 0;
}

.sticky .content {
  padding-top: 102px;
}
