@import '~@angular/material/theming';
@import '~src/uc.theme';

.footer {
  //position: absolute;
  //right: 0;
  //bottom: 0;
  //left: 0;

  background-color: mat-color($uc-theme-accent);
  //color: mat-color($white-87-opacity);
  color: mat-color($uc-theme-accent, default-contrast);
  //color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  padding: 16px;
}

.main-content {
  //margin: 0 auto;
  //padding-top: 64px;
  //max-width: 640px;
  //width: 94%;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img.logo {
  width: 130px;
  height: 30px;
}

.app-navbar {
  background-color: transparent;
}

.address {
  font-size: small;
}

.uc-health-footer-logo {
  max-width: 100%;
  max-height: 100%;
}
