//@import '~@angular/material/theming';
@import '~src/uc.theme';

.footer {
  background-color: mat-color($uc-theme-accent);
  color: mat-color($uc-theme-accent, default-contrast);
  box-sizing: border-box;
  padding: 16px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img.logo {
  width: 130px;
  height: 30px;
}

.app-navbar {
  background-color: transparent;
}

.address {
  font-size: small;
}

.uc-health-footer-logo {
  max-width: 100%;
  max-height: 100%;
}

.tools-disclaimer {
  margin: 15px;
}

.footer a {
  text-decoration: none;
  color: mat-color($uc-theme-accent, default-contrast);
}

.footer a:hover {
  text-decoration: underline;
}
