<div fxLayout="column" fxFlex>
  <div fxLayout="row" fxLayoutAlign="center">
    <div fxFlex fxFlex.gt-xs="80">
      <mat-toolbar class="app-navbar">
        <img class="logo svg" src="/assets/images/uch-logo.svg" title="UC Health" alt="UC Health Logo">
      </mat-toolbar>
      <div class="mat-elevation-z3">
        <router-outlet></router-outlet>
      </div>
      <p>University of Cincinnati Obstetrical Tools are intended for use by clinicians trained in the care of
        obstetrical patients. Users should consult relevant references to ensure they are used in a context
        generalizable from the original study population. The user accepts responsibility for appropriate
        application of these tools.</p>
    </div>

  </div>

  <div fxFlex></div>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="space-between center" class="footer">
    <div fxFlex></div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <img src="/assets/images/UC_ID_PrimaryWhiteRed.png" alt="UC Health">
    </div>
    <div class="address">
      <p>UC Department of Obstetrics and Gynecology</p>
      <p>Medical Sciences Building Room 7254<br>
        231 Albert Sabin Way<br>
        Mail Location 0526<br>
        Cincinnati, OH 45267-0526</p>

      <p>Patient Care Office<br>
        Phone: 513-475-8588<br>
        Fax: 513-475-8726</p>
    </div>
    <div fxFlex></div>
  </div>
</div>
