expandable {
  /*padding: 0 !important;*/
  /*margin: 0 !important;*/
}

expandable > expandable-content > div {
  opacity: 0;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

expandable.expanded > expandable-content > div {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

expandable-content {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 0;
}
