<!--<div fxLayout="row">-->
<!--  <mat-slider fxFlex min="0" max="60" value="25" step="1" tickInterval="5" (change)="onBmiChange()" [(ngModel)]="bmiInputValue"></mat-slider>-->
<!--  <mat-form-field>-->
<!--    <input matInput (change)="onBmiChange()" [(ngModel)]="bmiInputValue" type="number">-->
<!--  </mat-form-field>-->
<!--</div>-->

<div fxLayout="row">
  <div>
    <mat-form-field>
      <label>cm</label>
      <input matInput (change)="onCmChange()" type="number" [(ngModel)]="cmInputValue">
    </mat-form-field>

    <div fxLayout="row">
      <mat-form-field>
        <label>ft</label>
        <input matInput (change)="onFtInChange()" type="number" [(ngModel)]="ftInputValue">
      </mat-form-field>

      <mat-form-field>
        <label>inches</label>
        <input matInput (change)="onFtInChange()" type="number" [(ngModel)]="inInputValue">
      </mat-form-field>
    </div>
  </div>

  <div>
    <mat-form-field>
      <label>kg</label>
      <input matInput (change)="onKgChange()" type="number" [(ngModel)]="kgInputValue">
    </mat-form-field>

    <div fxLayout="row">
      <mat-form-field>
        <label>lb</label>
        <input matInput (change)="onLbOzChange()" type="number" [(ngModel)]="lbInputValue">
      </mat-form-field>

      <mat-form-field>
        <label>oz</label>
        <input matInput (change)="onLbOzChange()" type="number" [(ngModel)]="ozInputValue">
      </mat-form-field>
    </div>

  </div>

</div>
