@import "~@angular/material/theming";

$primary: mat-palette($mat-red, 600);
$accent: mat-palette($mat-grey, 700);
$warn: mat-palette($mat-grey, 200);

$uc-theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));
