@import "~@angular/material/theming";

$primary: mat-palette($mat-red, 900);
$accent: mat-palette($mat-red);
$warn: mat-palette($mat-blue, 800);

$uc-theme: mat-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  )
));
