@use '@angular/material' as mat;
@import '@angular/material/theming';

@include mat.core();

$uc-theme-primary: mat.define-palette(mat.$red-palette, 600);
$uc-theme-accent: mat.define-palette(mat.$grey-palette, 700);
$uc-theme-warn: mat.define-palette(mat.$grey-palette, 200);

$uc-theme: mat.define-light-theme(
    $uc-theme-primary,
    $uc-theme-accent,
    $uc-theme-warn);

@include mat.all-component-themes($uc-theme);
