<div class="grid-container">
  <h1>University of Cincinnati Obstetrical Tools</h1>
  <h2>Preview of new features</h2>

  <mat-grid-list cols="2" rowHeight="130px">
    <mat-grid-tile *ngFor="let card of cards"  [colspan]="2">
      <a [routerLink]="card.link">
        <mat-card class="dashboard-card" appMaterialElevation>
          <mat-card-header>
            <mat-card-title>{{card.title}}</mat-card-title>
            <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
