/*.calculator-section > * {*/
/*  margin: 15px;*/
/*}*/

.calculator-area {
  padding: 15px;
}

.calculator-section-left {
  padding-right: 15px;
}

.calculator-section-right {
  padding-left: 15px;
}

.divider {
  padding: 20px;
}

.clickable:hover,
.clickable:focus {
  background: rgba(0, 0, 0, 0.04);
}

.clickable {
  cursor: pointer;
  outline: inherit;
}

.reference,
.limitations,
.note-link {
  font-size: small;
}

.layout-padding {
  padding: 15px;
}

.mat-pseudo-checkbox-indeterminate {
  background: rgba(61, 61, 61, 0.15)
}

.limitations-table {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: white;
}