/*.calculator-section > * {*/
/*  margin: 15px;*/
/*}*/

.calculator-area {
  /*padding: 15px;*/
}

.calculator-section-left {
  padding-right: 15px;
}

.calculator-section-right {
  padding-left: 15px;
}

.divider {
  padding: 20px;
}

.clickable:hover, .clickable:focus {
  background: rgba(0, 0, 0, 0.04);
}

.clickable {
  cursor: pointer;
  outline: inherit;
}

.reference {
  font-size: small;
}

.layout-padding {
  padding: 15px;
}
