<app-calculator
  [title]="'Calculator to predict the likelihood of a maternal ICU admission'"
  [label]="'Risk of Maternal ICU Admission (baseline 0.15%)'"
  [valueText]="getRiskValue()"
  [showProgressBar]="errorCheck()"
  [value]="calculateRisk()"></app-calculator>

<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="space-between" class="calculator-area">
  <div fxLayout="column" fxFlex.gt-sm="50">
    <mat-list>
      <mat-list-item class="clickable mat-primary" matRipple (click)="ageSelection = cycleTerm(ageSelection, 2)">

        <h4>Maternal age:</h4>
        <span fxFlex></span>
        <app-button-group
          (appStopPropagation)="fromChild()"
          [labels]="ageOptions"
          [(value)]="ageSelection"></app-button-group>
      </mat-list-item>

      <mat-list-item class="clickable mat-primary" matRipple tabindex="0"
                     (click)="cHTN = cycleTerm(cHTN)">
        <h4>Chronic hypertension:</h4>
        <span fxFlex></span>
        <mat-pseudo-checkbox
          [state]="getState(cHTN)"></mat-pseudo-checkbox>
      </mat-list-item>
      <mat-list-item class="clickable mat-primary" matRipple tabindex="0"
                     (click)="pregestationalDiabetes = cycleTerm(pregestationalDiabetes)">
        <h4>Pregestational diabetes mellitus:</h4>
        <span fxFlex></span>
        <mat-pseudo-checkbox
          [state]="getState(pregestationalDiabetes)"></mat-pseudo-checkbox>
      </mat-list-item>
      <mat-list-item class="clickable mat-primary" matRipple tabindex="0"
                     (click)="gestationalHTN = cycleTerm(gestationalHTN)">
        <h4>Gestational HTN or Pre-Eclampsia:</h4>
        <span fxFlex></span>
        <mat-pseudo-checkbox [state]="getState(gestationalHTN)"></mat-pseudo-checkbox>
      </mat-list-item>
      <mat-list-item>
        <h4>Gestational age:</h4>
        <span fxFlex></span>
        <mat-form-field floatLabel="never">
          <mat-label>weeks</mat-label>
          <input matInput
                 [(ngModel)]="pma"
                 type="number" id="pmaForm"
                 #pmaForm="ngModel" min="20"
                 max="44">
          <!--          <mat-error *ngIf="(pmaForm.dirty || pmaForm.touched) && pmaForm.errors.min">Acceptable range 20-44</mat-error>-->
        </mat-form-field>

      </mat-list-item>
      <mat-list-item class="clickable mat-primary" matRipple tabindex="0"
                     (click)="bmiSelection = cycleTerm(bmiSelection, 2)">
        <h4>BMI:</h4>
        <span fxFlex></span>
        <app-button-group
          (appStopPropagation)="fromChild()"
          [labels]="bmiOptions"
          [(value)]="bmiSelection"></app-button-group>
      </mat-list-item>
      <mat-list-item class="clickable mat-primary" matRipple tabindex="0"
                     (click)="race = cycleTerm(race, raceOptions.length)">
        <h4>Race:</h4>
        <span fxFlex></span>
        <app-button-group
          (appStopPropagation)="fromChild()"
          [labels]="raceOptions"
          [(value)]="race"></app-button-group>
      </mat-list-item>
    </mat-list>
  </div>
  <mat-divider fxShow.gt-sm vertical></mat-divider>
  <div fxLayout="column" fxLayoutAlign="space-between" fxFlex.gt-sm="50">
    <mat-list>

      <mat-list-item class="clickable mat-primary" matRipple tabindex="0"
                     (click)="scheduledCesarean = cycleTerm(scheduledCesarean)">
        <h4>Scheduled Cesarean:</h4>
        <span fxFlex></span>
        <mat-pseudo-checkbox [state]="getState(scheduledCesarean)"></mat-pseudo-checkbox>
      </mat-list-item>
      <mat-list-item class="clickable mat-primary" matRipple tabindex="0" (click)="medicaid = cycleTerm(medicaid)">
        <h4>Medicaid:</h4>
        <span fxFlex></span>
        <mat-pseudo-checkbox [state]="getState(medicaid)"></mat-pseudo-checkbox>
      </mat-list-item>
      <mat-list-item>
        <h4>Parity:</h4>
        <span fxFlex></span>
        <mat-form-field floatLabel="never">
          <mat-label>number</mat-label>
          <input matInput [(ngModel)]="parity" type="number">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <h4>Interpregnancy interval:</h4>
        <span fxFlex></span>
        <mat-form-field floatLabel="never">
          <mat-label>months</mat-label>
          <input matInput [(ngModel)]="interpregnancyInterval" type="number">
          <mat-hint>"0" for nulliparous</mat-hint>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item class="clickable mat-primary" matRipple tabindex="0" (click)="iol = cycleTerm(iol)">
        <h4>Induction of Labor:</h4>
        <span fxFlex></span>
        <mat-pseudo-checkbox [state]="getState(iol)"></mat-pseudo-checkbox>
      </mat-list-item>
      <mat-list-item class="clickable mat-primary" matRipple tabindex="0" (click)="std = cycleTerm(std)">
        <h4>STD during pregnancy:</h4>
        <span fxFlex></span>
        <mat-pseudo-checkbox [state]="getState(std)"></mat-pseudo-checkbox>
      </mat-list-item>
      <mat-list-item class="clickable mat-primary" matRipple tabindex="0"
                     (click)="priorPreterm = cycleTerm(priorPreterm)">
        <h4>Prior preterm birth:</h4>
        <span fxFlex></span>
        <mat-pseudo-checkbox [state]="getState(priorPreterm)"></mat-pseudo-checkbox>
      </mat-list-item>

    </mat-list>
  </div>


</div>

<div class="layout-padding">
  <h3>Clinical Note Template:</h3>

  <app-mock-text-area>
    <p *ngIf="errorCheck()">Based on {{getRiskFactorsWording()}}: <strong>The risk of this patient being admitted to the
      ICU at the time of
      delivery is
      {{calculateRisk() | percent : '1.0-2'}}. This represents a relative risk of {{getRR() | number : '1.0-1' }}
      compared with the baseline population risk of 0.15%.</strong>
    </p>
    <p *ngIf="!errorCheck()">All fields must have a selection for calculation</p>

    <p class="reference">Reference:
      <app-article-citation [ref]="citations[0]"></app-article-citation>
    </p>
    <p class="note-link">Calculator at <a href="{{getUrl()}}">{{getUrl()}}</a></p>

  </app-mock-text-area>

</div>
<div class="layout-padding limitations-card">
  <h3>Limitations</h3>
  <p>The maximum predicted risk for this model approximates 24%. The model is not
    fitted however for predicted risk above 5%. True risk above 5% is unknown and not validated. This model has a low
    positive predictive value given the exceedingly rare outcome of maternal ICU admission (see Appendix 2 at
    <a href="http://links.lww.com/AOG/B413">http://links.lww.com/AOG/B413</a>. Numbers of individuals in each risk
    strata from which the calculator was developed are presented below. </p>

  <table class="limitations-table" width="100%" border="1" cellspacing="0"
         summary="Numbers of individuals in each risk strata from which the calculator was developed are presented in this table.">
    <tr>
      <th colspan="2" scope="col">Expected Risk Strata (%)</th>
      <th scope="col">Expected Risk for Strata (mean)</th>
      <th scope="col">Lower CI</th>
      <th scope="col">Upper CI</th>
      <th scope="col">Individuals in Risk Strata (n)</th>
    </tr>
    <tr>
      <td>0</td>
      <td>0.25</td>
      <td>0.06%</td>
      <td>0.06</td>
      <td>0.07</td>
      <td>5,583,157</td>
    </tr>
    <tr>
      <td><p>0.25</p></td>
      <td>0.5</td>
      <td>0.3%</td>
      <td>0.3</td>
      <td>0.4</td>
      <td>287,193</td>
    </tr>
    <tr>
      <td>0.5</td>
      <td>0.75</td>
      <td>0.6%</td>
      <td>0.5</td>
      <td>0.7</td>
      <td>64,788</td>
    </tr>
    <tr>
      <td>0.75</td>
      <td>1</td>
      <td>0.9%</td>
      <td>0.7</td>
      <td>1.0</td>
      <td>26,165</td>
    </tr>
    <tr>
      <td>1</td>
      <td>1.25</td>
      <td>1.1%</td>
      <td>0.9</td>
      <td>1.3</td>
      <td>13,813</td>
    </tr>
    <tr>
      <td>1.25</td>
      <td>1.5</td>
      <td>1.4%</td>
      <td>1.1</td>
      <td>1.6</td>
      <td>8,656</td>
    </tr>
    <tr>
      <td>1.5</td>
      <td>2</td>
      <td>1.7%</td>
      <td>1.4</td>
      <td>1.9</td>
      <td>10,167</td>
    </tr>
    <tr>
      <td>2</td>
      <td>3</td>
      <td>2.4%</td>
      <td>2.1</td>
      <td>2.7</td>
      <td>9,568</td>
    </tr>
    <tr>
      <td>3</td>
      <td>4</td>
      <td>3.4%</td>
      <td>2.9</td>
      <td>4</td>
      <td>4,492</td>
    </tr>
    <tr>
      <td>4</td>
      <td>5</td>
      <td>4.4%</td>
      <td>3.6</td>
      <td>5.3</td>
      <td>2,388</td>
    </tr>
  </table>

</div>
